*{
    text-decoration: none;
    list-style: none;
}

/*Menú*/

.menu{
    background-color:deeppink;
    display: flex;
    justify-content: right;
}

.navegacion ul li{
    display: inline-block;
    margin-right: 10px;
}

.navegacion ul li a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 700;
}
.H1-nosotros{
    text-align: center;
    color:deeppink;
}
.tienda{
    width:25%;
    height:10%;
    margin-left: 35%;
}
.H2-nosotros{
    text-align: center;
    color:orangered;
}
.H3-nosotros{
    text-align: center;
    color: crimson;
}

